.header {
    grid-area: hd;
    background-color: darkseagreen;
  }

.app_logo {
    height: 80px;
    }

.login{
    float:right;
    background-color: darkcyan;
    padding: 10px;
    margin: 20px;
}
.login:hover{
    background-color: gray;
}

.login, .login a {
    color: black;
    font-family: "Comic Sans MS" ;
    text-decoration: none;
}